/*<!-- HEADER -->*/
        #header{
            background-color: red;
        }
           /* <!-- BANNER --> */
           #banner{

            background-color: gray;
            padding-top: 16px;
            padding-bottom: 0;

           }

           .ad-pull-right{
            float: right;
           }

           
            
           /* <!-- MAIN NAVIGATION-->*/
           #main-navigation{

           }

/*Remove the padding and margin from the list, and background color*/
           ul.topnav{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;;
            background-color: #333;
           }

/*Float the list items side by side*/
            ul.topnav li{
                float: left;
            }   

            /*Style the links inside the list items*/ 
            ul.topnav li a{
                display: inline-block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                transition: 0.3s;
                font-size: 17px;
            } 

            /*Change background color of links on hover*/
            ul.topnav li a:hover{
                background-color: #555;
            } 

            /*Hide the icon that should open and close the topnav on small screen*/
            ul.topnav li.icon{
                display: none;
            }     
            
            
        
       /* <!-- MAIN -->*/
       #main{
        background-color: blue;

       }

       #carousel{
        background-color: yellow;
        height: 300px;
       }
        
        #home-tiles{
            background-color: orange;
            height: 300px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 20px;
        }

        .tile{
            background-color: cyan;
            height: 250px;
        }
           
           .row{
            margin-left: 0;
            margin-right: 0;
           } 
        
        /*<!-- FOOTER -->*/
        #footer{
            background-color: gray;
            color: #f2f2f2;
            margin-left: 0;
            margin-right: 0;

        }

        #footer li a {
            color: #f2f2f2;

        }
        

        /*MEDIA QUERIES*/

        /*When the screen is less than 680 pixel wide, hide all list items, except for teh first one("Home"). Show the list item
        that contains the link to open and close topnav (li.icon)*/
        @media screen and (max-width: 680px){
            ul.topnav li:not(:first-child){
                display: none;
            }

            ul.topnav li.icon{
                float: right;
                display: inline-block;
            } 

        }

        /*The 'responsive' class is added to the topnav using javascript when the user clicks on the icon. This clas make the topnav
        look good on small screen.*/
        @media screen and (max-width: 680px){
            ul.topnav.responsive{
                position: relative;
            }
            ul.topnav.responsive li.icon{
                position: absolute;
                right: 0;
                top: 0;
            }
            ul.topnav.responsive li{
                float: none;
                display: inline;
            }
            ul.topnav.responsive li a{
                display: block;
                text-align: left;
            }
        }