/*<!-- HEADER -->*/

.ad-pull-right {
    float: right;
}


/* <!-- MAIN NAVIGATION-->*/
#main-navigation {
    border-radius: 0;
    border: 0;
}

#main-navigation  li a:hover {
   /* background-color: #555;*/
   color:#006600;
}



#carousel {
    background-color: yellow;
    /*height: 300px;*/
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
   /* width: 90%;*/
    height: 250px;
    margin: auto;
}

#home-tiles {
    /*background-color: orange;*/
    height: 300px;
    
    padding-top: 20px;
}

.tile {
    /*background-color: cyan;*/
    height: 250px;
}

#map {
        height: 100%;
      }

      /*Menu Tile*/
      #menu-tile1, #menu-tile2, #menu-tile3{
		height: 250px;
		width: 100%;
		margin-bottom: 15px;
		position: relative;
		border: 2px solid #3F0C1F;
		overflow: hidden;
	}

	#menu-tile1:hover, #menu-tile2:hover, #menu-tile3:hover{
		box-shadow: 0 2px 10px 2px #006600;
      
	}

    #menu-tile1{
		background: url("../imgs/hosting.png") no-repeat;
		background-position: center;
	}

    #menu-tile2{
		background: url("../imgs/Mobile-development.png") no-repeat;
		background-position: center;
	}

    #menu-tile3{
		background: url("../imgs/software-development.jpg") no-repeat;
		background-position: center;
	}

    #menu-tile1 span, #menu-tile2 span, #menu-tile3 span{
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		text-align: center;
		font-size: 1.2em;
		text-transform: uppercase;
		background-color: #000;
		color: #fff;
		opacity: .8;
	}




/*<!-- FOOTER -->*/

#footer {
    background-color: gray;
    color: #f2f2f2;
    
}

#footer li a {
    color: #f2f2f2;
}

ul.nav-footer-link-list li {
    display: inline-block;
    border-right: solid 2px black;
    padding: 0 16px;
}

#legal-copyright {
    padding: 0 16px;
}



/*MEDIA QUERIES*/


